{% load static %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'dashboard:index' %}">
                    <img src="{% static 'dashboard/img/SearchLogo.png' %}" width="100%" alt="Logo" style="width:150px;">
                </a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>elloit</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>elloit<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'dashboard:logout' %}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="{% url 'dashboard:index' %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#jiedian"><i class="fa fa-fw fa-bar-chart-o"></i> Node Manager <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="jiedian" class="collapse">
                            <li>
                                <a href="{% url  'dashboard:create_scanner'%}">Add Scan Node</a>
                            </li>
                            <li>
                                <a href="{% url  'dashboard:scanner_list'%}">Scan Node List</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#task"><i class="fa fa-fw fa-table"></i> Task Manager <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="task" class="collapse">
                            <li>
                                <a href="{% url  'dashboard:zmap_scan_task'%}">Add Zmap Scan Task</a>
                            </li>
                            <li>
                                <a href="{% url  'dashboard:nmap_scan_task'%}">Add Nmap Scan Task</a>
                            </li>
                            <li>
                                <a href="{% url  'dashboard:poc_list'%}">Add Vul Scan Task</a>
                            </li>
                            <li>
                                <a href="{% url  'dashboard:scan_task_list'%}">Scan Task List</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#log"><i class="fa fa-fw fa-edit"></i> Log Manager <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="log" class="collapse">
                            <li>
                                <a href="{% url  'dashboard:search_log'%}">Search Log</a>
                            </li>
                            <li>
                                <a href="#">Scan Log</a>
                            </li>
                        </ul>
                    </li>
{#                    <li>#}
{#                        <a href="javascript:;" data-toggle="collapse" data-target="#data"><i class="fa fa-fw fa-wrench"></i> Data Manager <i class="fa fa-fw fa-caret-down"></i></a>#}
{#                        <ul id="data" class="collapse">#}
{#                            <li>#}
{#                                <a href="#">IP Data</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">Server Data</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">Vulnerability Data</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#terminal"><i class="fa fa-fw fa-terminal"></i> Product Manager <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="terminal" class="collapse">
                            <li>
                                <a href="{% url  'dashboard:product'%}">Add Product</a>
                            </li>
                            <li>
                                <a href="{% url  'dashboard:product_list'%}">Product List</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#bug"><i class="fa fa-fw fa-bug"></i> Vulnerability Manager <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="bug" class="collapse">
                            <li>
                                <a href="{% url  'dashboard:poc'%}">Add Vulnerability</a>
                            </li>
                            <li>
                                <a href="{% url  'dashboard:vul_add'%}">Add Vulnerability Type</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>