
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="elloit">
    <link rel="icon" href="{% static '/search/img/eye.png' %}">
    <script src={% static "dashboard/js/common.js" %}></script>

    {% block scripts_head %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href={% static "dashboard/css/bootstrap.min.css" %} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={% static "dashboard/css/sb-admin.css" %} rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href={% static "dashboard/css/plugins/morris.css" %} rel="stylesheet">

    <!-- Custom Fonts -->
    <link href={% static "dashboard/font-awesome/css/font-awesome.min.css" %} rel="stylesheet" type="text/css">
    {% block style %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        {% include "dashboard/section/nav.html" %}
        {% block page-wrapper %}
        {% endblock %}
    <footer>
    <p align="center" style="color: white" >
        Copyright© 2017-<script>document.write(new Date().getFullYear());</script> Elloit King Team.</p>
    </footer>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src={% static "dashboard/js/jquery.js" %}></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={% static "dashboard/js/bootstrap.min.js" %}></script>

    <!-- Morris Charts JavaScript -->
    <script src={% static "dashboard/js/plugins/morris/raphael.min.js" %}></script>
    <script src={% static "dashboard/js/plugins/morris/morris.min.js" %}></script>
    <script src={% static "dashboard/js/plugins/morris/morris-data.js" %}></script>
    {% block scripts_end %}{% endblock %}
</body>

</html>
