{% extends 'search/base.html' %}
{% load static %}
{% block title %}
    {{ msg }}
{% endblock %}
{% block ex_style %}
    <link rel="stylesheet" href="{% static 'search/css/data.css' %}">
{% endblock %}
{% block body %}
<br>
<br>
<br>
<div class="container" style="width: 80%">
    <div class="container row">
        <div class="container col-md-12">
            <h3><a style="text-decoration: none;color: white" href="{% url "search:index" %}">SearchWebApp</a></h3>
        </div>
        <div class="container">
            <form method="get" action="{% url "search:results" %}" class="form-inline">
                <div class="form-group">
                    <input type="text" name="search_msg" id="search_msg" value="{{ msg }}" class="form-control" >
                    <input type="hidden" name="page" value="1"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-info" value="搜索">
                </div>
            </form>
        </div>
        <br>
        <br>
        <div class="container col-md-12">
            {% for key in keys %}
                <span class="badge {{ colors | random }}">{{ key }}</span>
            {% endfor %}
        </div>
        <br>
        <br>
        <div class="col-md-12">
            <p>搜索"{{ msg }}" 共搜索到了<span class="text-danger">{{ total }} </span>条结果。耗时：{{ time | floatformat:"3"}} 毫秒</p>
        </div>
    </div>
    <hr style="border-color: white">
    <!--数据部分-->
    <div class="container">
        <!--一个数据-->
        {% for i in datas %}
        <div class="container row">
            <div class="container col-md-6">
                {% if i.URI == "" %}
                    <p>地址:&emsp;<span>{{ i.HOST }}</span></p>
                {% else %}
                    <p>地址:&emsp;<span><a target="_blank" href="{{ i.URI }}">{{ i.HOST }}</a></span></p>
                {% endif %}
                <p>端口:&emsp;<span>{{ i.PORT }}</span></p>
                <p>协议:&emsp;<span>{{ i.PROTOCOL }}</span></p>
                <p>服务:&emsp;<span>{{ i.SERVER }}</span></p>
                <p>服务版本:&emsp;<span>{{ i.SERVER_VERSION }}</span></p>
                <p>指纹:&emsp;<span>{{ i.BANNER }}</span></p>
                <p>标题:&emsp;<span>{{ i.TITLE }}</span></p>
                <p>时间:&emsp;<span>{{ i.DATE }}</span></p>
                <p>国家:&emsp;<span>{{ i.COUNTRY }}</span></p>
                <p>省份:&emsp;<span>{{ i.PROVINCE }}</span></p>
                <p>城市:&emsp;<span>{{ i.CITY }}</span></p>
                <a href="{% url 'search:result' i.HOST %}" target="_blank"><button class="btn btn-info">查看详情</button></a>
            </div>
            <div class="container col-md-6">
                <pre class="code_pre">{{ i.HEADER }}{{ i.CONTENT }}</pre>
            </div>
        </div>
        <hr>
        <!--end-->
        {% endfor %}
    </div>
    <br>
    <br>
    <!--分页-->
    <div class="container-fluid">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if articles_page.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="{% url "search:results" %}?search_msg={{ msg }}&page={{ articles_page.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                {% endif %}
                {% for i in pages %}
                                {% if i == articles_page.number %}
                                    <li class="page-item active"><a class="page-link" href="{% url "search:results" %}?search_msg={{ msg }}&page={{ i }}">{{ i }}</a></li>
                                {% elif i == '...' %}
                                    <li class="page-item"><a class="page-link">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="{% url "search:results" %}?search_msg={{ msg }}&page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                        {% endfor %}
                {% if articles_page.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{% url "search:results" %}?search_msg={{ msg }}&page={{ articles_page.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
