body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
    background-color: #040E20;
    height: 100%;
}
.code_pre{
    color: #28FEFC;
    width: 500px;
    height: 250px;
    font-weight: bold;
    overflow: auto;
    overflow-x:hidden;
}

.ip-border{
    border: 1px solid  #28FEFC;
    border-radius: 10px;
}
