{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}
添加扫描节点
{% endblock %}
{% block scripts_head %}
    <script>var create_scanner_url = "{% url "dashboard:create_scanner" %}";</script>
    <script src={% static "dashboard/js/script.js" %}></script>
{% endblock %}
{% block page-wrapper %}
{% include "dashboard/section/modal.html" %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Scanner Node</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="{% url 'dashboard:index' %}">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> Add Scanner Node
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <!-- Scanner base config -->
            <div class="col-lg-6">
                <h1>Scanner Base Config</h1>
                <form role="form" name="form-scanner-base" id="form-scanner-base">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Scanner Host Input</label>
                        <input class="form-control" placeholder="Example: 192.168.1.1" name="scanner-host">
                    </div>

                    <div class="form-group">
                        <label>Scanner Port Input</label>
                        <input class="form-control" placeholder="Example: 8080" name="scanner-port">
                    </div>
                </form>
            </div>
            <!-- ES config -->
            <div class="col-lg-6">
                <h1>ELASTICSEARCH Config</h1>
                <form role="form" name="form-es" id="form-es">
                    <div class="form-group">
                        <label class="control-label" for="es-host">es server hosts</label>
                        <input type="text" class="form-control" name="es-hosts" placeholder="Example: 192.168.1.1,192.168.1.2">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="es-port">es server port</label>
                        <input type="text" class="form-control" name="es-port" placeholder="9200">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="es-user">es user</label>
                        <input type="text" class="form-control" name="es-user" placeholder="username">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="es-pass">es password</label>
                        <input type="password" class="form-control" name="es-pass" placeholder="password">
                    </div>
                </form>
            </div>
            <!-- Borker config -->
            <div class="col-lg-6">
                <h1>Borker Server Config</h1>
                <form role="form" name="form-borker" id="form-borker">
                    <div class="form-group">
                        <label class="control-label" for="borker-host">borker server host</label>
                        <input type="text" class="form-control" name="borker-host" placeholder="Example: 192.168.1.1">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="borker-port">borker server port</label>
                        <input type="text" class="form-control" name="borker-port" placeholder="6379">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="borker-user">borker user</label>
                        <input type="text" class="form-control" name="borker-user" placeholder="username">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="borker-pass">borker password</label>
                        <input type="password" class="form-control" name="borker-pass" placeholder="password">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="borker-db">borker db</label>
                        <input type="text" class="form-control" name="borker-db" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>selects borker server type</label>
                        <select class="form-control" id="borker-type">
                            <option>redis</option>
                            <option>amqp</option>
                        </select>
                    </div>
                </form>
            </div>
            <!-- Backend config -->
            <div class="col-lg-6">
                <h1>Backend Server Config</h1>
                <form role="form" name="form-backend" id="form-backend">
                    <div class="form-group">
                        <label class="control-label" for="backend-host">backend server host</label>
                        <input type="text" class="form-control" name="backend-host" placeholder="Example: 192.168.1.1">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="backend-port">backend server port</label>
                        <input type="text" class="form-control" name="backend-port" placeholder="6379">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="backend-user">backend user</label>
                        <input type="text" class="form-control" name="backend-user" placeholder="username">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="backend-pass">backend password</label>
                        <input type="password" class="form-control" name="backend-pass" placeholder="password">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="backend-db">backend db</label>
                        <input type="text" class="form-control" name="backend-db" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label>selects borker server type</label>
                        <select class="form-control" id="backend-type">
                            <option>redis</option>
                            <option>amqp</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-danger" onclick="create_scanner()">ADD SCAN NODE</button>
                <span id="flag-error" class="text-danger"></span>
                <span id="flag-success" class="text-info"></span>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
{% endblock %}