{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}
节点列表
{% endblock %}
{% block page-wrapper %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Scanner List</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="{% url 'dashboard:index' %}">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> Scanner List
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>Note!!</strong> 红色代表连接失败，蓝色代表已关闭，绿色代表正在运行
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
            {% for data in datas %}
                {% if data.status == "0" %}
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-close fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div>
                                            <span class="badge badge-info" style="font-size: 20px">{{ data.ip }}</span>
                                            <span class="badge badge-info" style="font-size: 20px">{{ data.port }}</span>
                                            <hr>
                                        </div>
                                        <div>
                                            <button class="btn btn-info btn-outline-dark">关闭</button>
                                            <button class="btn btn-warning btn-outline-dark">重启</button>
                                            <button class="btn btn-default btn-outline-dark">开启</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                            </a>
                        </div>
                    {% elif data.status == "1" %}
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-smile-o fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div>
                                                <span class="badge badge-info" style="font-size: 20px">{{ data.ip }}</span>
                                                <span class="badge badge-info" style="font-size: 20px">{{ data.port }}</span>
                                                <hr>
                                            </div>
                                            <div>
                                                <button class="btn btn-info btn-outline-dark">关闭</button>
                                                <button class="btn btn-warning btn-outline-dark">重启</button>
                                                <button class="btn btn-default btn-outline-dark">开启</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    {% elif data.status == "2" %}
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-chain-broken fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div>
                                            <span class="badge badge-info" style="font-size: 20px">{{ data.ip }}</span>
                                            <span class="badge badge-info" style="font-size: 20px">{{ data.port }}</span>
                                            <hr>
                                        </div>
                                        <div>
                                            <button class="btn btn-info btn-outline-info">关闭</button>
                                            <button class="btn btn-warning btn-outline-info">重启</button>
                                            <button class="btn btn-default btn-outline-info">开启</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
{% endblock %}
