{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}
节点列表
{% endblock %}
{% block page-wrapper %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Scanner List</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="{% url 'dashboard:index' %}">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> Scanner List
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>Note!!</strong> 红色代表连接失败，蓝色代表已关闭，绿色代表正在运行
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-4 col-md-6" id="scanner-list"></div>
        </div>
        <!-- /.row -->
    </div>
</div>
{% endblock %}
{% block scripts_end %}
    <script>
        var scanner_list_api = "{% url "dashboard:scanner_list_api" %}";;
    </script>
    <script src="{% static "dashboard/js/scanner_list.js" %}"></script>
{% endblock %}
